@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="~/Content/assets/login/style.css">

    <div class="container">
        <div class="form-container sign-in">

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                {<h1>Đăng Nhập</h1>

                    <div class="input-group custom">
                        <td>@Html.TextBox("TenDN", "", new { @class = "form-control", type = "text", placeholder = "Tên Đăng Nhập" })</td>
                        <div class="input-group-append custom">
                            <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                        </div>
                    </div>
                    <h7 style="color:red;text-align:left">@ViewData["Loi1"]</h7>

                    <div class="input-group custom">
                        <td>@Html.Password("MatKhau", "", new { @class = "form-control", type = "password", placeholder = "Mật Khẩu" })</td>
                        <div class="input-group-append custom">
                            <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                        </div>
                    </div>
                    <h7 style="color:red;text-align:left">@ViewData["Loi2"]</h7>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-primary btn-lg" type="submit">Đăng nhập</button>

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Xin chào</h1>
                    <p>Nếu bạn đã có tài khoản, vui lòng đăng nhập tài khoản</p> 
                    <button class="hidden" id="login">Đăng nhập</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Xin chào</h1>
                    <p>Đăng ký với thông tin cá nhân của bạn để sử dụng dịch vụ</p>
                    <button class="hidden" id="register"><a href="@Url.Action("DangKy","Auth")">Đăng ký</a></button>
                </div>
            </div>
        </div>
</div>

<h5 style="color:red;text-align:center">@ViewBag.TB</h5>
<script src="~/Content/assets/login/script.js"></script>
