@model CodeWeb.Models.Vaccine
@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/MainView.cshtml";
}
<a href="@Url.Action("Index", "Home")">Trang chủ</a>

@if (!string.IsNullOrEmpty(ViewBag.Title) && !string.Equals(ViewBag.Title, "Trang chủ", StringComparison.OrdinalIgnoreCase))
{
    <text> > </text>
    <a href="@Url.Action("ShowVaccine", "Sanpham")">Danh sách vắc xin</a>
}

@if (!string.IsNullOrEmpty(ViewBag.ProductName))
{
    <text> > </text>
    <span>@ViewBag.ProductName</span>
}


<style>
    .card {
        position: relative;
        overflow: hidden;
    }

        .card img {
            width: 100%;
            height: auto;
            max-width: 100%; /* Đặt tối đa chiều rộng */
            display: block; /* Loại bỏ khoảng trắng dưới hình ảnh */
            margin: 0 auto; /* Căn giữa hình ảnh trong thẻ card */
        }
</style>
<div class="container mt-4">
    <h3>Chi Tiết Vaccine</h3>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Tên Vaccine:</strong> @Model.TenVC</p>
            <p><strong>Loại Vaccine:</strong> @(Model.LoaiVaccine != null ? Model.LoaiVaccine.TenLoai : "Không có")</p>
            <p><strong>Số Lượng:</strong> @Model.SoLuongVC</p>
            <p><strong>Giá bán:</strong>  @String.Format("{0:0,0 VNĐ}", Model.GiaBanVC)</p>
            <p><strong>Mô tả:</strong> @Model.MoTaVC</p>


            <a href="@Url.Action("ShowVaccine", "Sanpham")" class="btn btn-primary">Quay Lại Danh Sách Vaccine</a>
        </div>
        <div class="col-md-6 text-center">
            <img src="~/images/Vaccine/@Html.Raw(Model.HinhAnhVC)" style="max-width:50%; margin-bottom:20px" />
        </div>
    </div>
</div>








