@model IEnumerable<CodeWeb.Models.Vaccine>
@{
    ViewBag.Title = "TimKiem";
    Layout = "~/Views/Shared/MainView.cshtml";
}

<style>
    .card {
        position: relative;
        overflow: hidden;
    }

        .card img {
            width: 100%;
            height: auto;
            max-width: 100%; /* Đặt tối đa chiều rộng */
            display: block; /* Loại bỏ khoảng trắng dưới hình ảnh */
            margin: 0 auto; /* Căn giữa hình ảnh trong thẻ card */
        }
</style>
<div class="container mt-4">
    <h2>Kết Quả Tìm Kiếm</h2>
    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var pv in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card phong p-3">
                        <a href="@Url.Action("CTPhong", "Datphong", new { ma = pv.MaVC })">
                            <img src="~/images/Vaccine/@Html.Raw(pv.HinhAnhVC)" />
                        </a>
                        <span style="margin-top:10px;"><b>@pv.TenVC</b></span><br />
                        <label>Loại Phòng: @(pv.LoaiVaccine != null ? pv.LoaiVaccine.TenLoai : "Không có")</label><br />
                        <span class="gia-thue">Số người ở: @pv.SoLuongVC Người </span><br />
                        <span>Trạng thái: @pv.TinhTrangVC</span><br />
                        <span>Giá: @String.Format("{0:0,0 VNĐ}", pv.GiaBanVC)</span><br />

                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-center mt-4">Không có vaccine phù hợp với yêu cầu tìm kiếm.</p>
    }
</div>